:root {
  --md-text-font: "LXGW WenKai Screen";
  --md-code-font: "Hack";
}

[data-md-color-scheme="catppuccin-macchiato"] {
  color-scheme: dark;

  /* Default color shades */
  /* Text */
  --md-default-fg-color: hsl(227, 68%, 88%);
  /* Subtext1 */
  --md-default-fg-color--light: hsl(228, 39%, 80%);
  /* Subtext0 */
  --md-default-fg-color--lighter: hsl(227, 27%, 72%);
  /* Overlay2 */
  --md-default-fg-color--lightest: hsl(228, 20%, 65%);
  /* Base */
  --md-default-bg-color: hsl(232, 23%, 18%);
  /* Base */
  --md-default-bg-color--light: hsl(232, 23%, 18%);
  /* Base */
  --md-default-bg-color--lighter: hsl(232, 23%, 18%);
  /* Base */
  --md-default-bg-color--lightest: hsl(232, 23%, 18%);

  /* Primary color shades */
  /* Mantle */
  --md-primary-fg-color: hsl(233, 23%, 15%);
  /* Mantle */
  --md-primary-fg-color--light: hsl(233, 23%, 15%);
  /* Crust */
  --md-primary-fg-color--dark: hsl(236, 23%, 12%);
  /* Text */
  --md-primary-bg-color: hsl(227, 68%, 88%);
  /* Text */
  --md-primary-bg-color--light: hsl(227, 68%, 88%);

  /* Accent color shades */
  /* Teal */
  --md-accent-fg-color: hsl(171, 47%, 69%);
  /* Teal */
  --md-accent-fg-color--transparent: hsl(171, 47%, 69%, 0.1);
  /* Text */
  --md-accent-bg-color: hsl(227, 68%, 88%);
  /* Text */
  --md-accent-bg-color--light: hsl(227, 68%, 88%);

  /* Code color shades */
  /* Text */
  --md-code-fg-color: hsl(227, 68%, 88%);
  /* Surface0 */
  --md-code-bg-color: hsl(233deg, 23%, 15%);
  /* Teal */
  --md-code-hl-color: hsl(171, 47%, 69%);
  /* Teal */
  --md-code-hl-color--light: hsl(171, 47%, 69%, 0.1);

  /* Code highlighting color shades */
  /* Peach */
  --md-code-hl-number-color: hsl(21, 86%, 73%);
  /* Blue */
  --md-code-hl-special-color: hsl(220, 83%, 75%);
  /* Mauve */
  --md-code-hl-function-color: hsl(267, 83%, 80%);
  /* Yellow */
  --md-code-hl-constant-color: hsl(40, 70%, 78%);
  /* Blue */
  --md-code-hl-keyword-color: hsl(220, 83%, 75%);
  /* Green */
  --md-code-hl-string-color: hsl(105, 48%, 72%);
  /* Sky */
  --md-code-hl-name-color: hsl(189, 59%, 73%);
  /* Text */
  --md-code-hl-operator-color: hsl(227, 68%, 88%);
  /* Text */
  --md-code-hl-punctuation-color: hsl(227, 68%, 88%);
  /* Overlay0 */
  --md-code-hl-comment-color: hsl(230, 12%, 49%);
  /* Text */
  --md-code-hl-generic-color: hsl(227, 68%, 88%);
  /* Pink */
  --md-code-hl-variable-color: hsl(316, 74%, 85%);

  /* Typeset color shades */
  --md-typeset-color: var(--md-default-fg-color);
  /* Teal */
  --md-typeset-a-color: hsl(171, 47%, 69%);
  /* Text */
  --md-typeset-kbd-color: hsl(227, 68%, 88%);
  /* Text */
  --md-typeset-kbd-accent-color: hsl(227, 68%, 88%);
  /* Base */
  --md-typeset-kbd-border-color: hsl(232, 23%, 18%);
  /* Teal */
  --md-typeset-mark-color: hsl(171, 47%, 69%);
  /* Text */
  --md-typeset-table-color: hsl(227, 68%, 88%);
  /* Text */
  --md-typeset-table-color--light: hsl(227, 68%, 88%, 0.1);

  /* Admonition color shades */
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

  /* Footer color shades */
  /* Text */
  --md-footer-fg-color: hsl(227, 68%, 88%);
  /* Subtext1 */
  --md-footer-fg-color--light: hsl(228, 39%, 80%);
  /* Subtext0 */
  --md-footer-fg-color--lighter: hsl(227, 27%, 72%);
  /* Mantle */
  --md-footer-bg-color: hsl(233, 23%, 15%);
  /* Crust */
  --md-footer-bg-color--dark: hsl(236, 23%, 12%);

  /* Shadow depth */
  --md-shadow-z1: 0 0.2rem 0.5rem hsla(0, 0%, 0%, 0.05),
    0 0 0.05rem hsla(0, 0%, 0%, 0.1);
  --md-shadow-z2: 0 0.2rem 0.5rem hsla(0, 0%, 0%, 0.25),
    0 0 0.05rem hsla(0, 0%, 0%, 0.25);
  --md-shadow-z3: 0 0.2rem 0.5rem hsla(0, 0%, 0%, 0.4),
    0 0 0.05rem hsla(0, 0%, 0%, 0.35);
}

input.md-search__input {
  background-color: var(--md-default-bg-color);
}

input.md-search__input::placeholder {
  color: var(--md-default-fg-color);
}

.md-search-result__meta {
  background-color: var(--md-default-bg-color--light);
}

.md-copyright {
  font-size: .55rem;
}

/* Hide images for light mode */
[data-md-color-scheme="catppuccin-macchiato"] {

  img[src$="#only-light"],
  img[src$="#gh-light-mode-only"] {
    display: none;
  }
}

[data-md-color-scheme="catppuccin-macchiato"] .md-tag {
  /* Surface0 */
  background-color: hsl(230, 19%, 26%);
  /* Text */
  color: hsl(227, 68%, 88%);
}

[data-md-color-scheme="catppuccin-macchiato"] .md-tag:hover,
[data-md-color-scheme="catppuccin-macchiato"] .md-tag[href]:hover {
  /* Surface1 */
  background-color: hsl(231, 16%, 34%);
}

[data-md-color-scheme="catppuccin-macchiato"] .md-top {
  /* Surface0 */
  background-color: hsl(230, 19%, 26%);
  /* Text */
  color: hsl(227, 68%, 88%);
  /* Surface0 */
  border-color: hsl(230, 19%, 26%);
}

[data-md-color-scheme="catppuccin-macchiato"] .md-top:hover {
  /* Surface1 */
  background-color: hsl(231, 16%, 34%);
  /* Surface1 */
  border-color: hsl(231, 16%, 34%);
}

[data-md-color-scheme="catppuccin-macchiato"] .md-button {
  /* Surface0 */
  background-color: hsl(230, 19%, 26%);
  /* Text */
  color: hsl(227, 68%, 88%);
  /* Surface0 */
  border-color: hsl(230, 19%, 26%);
}

[data-md-color-scheme="catppuccin-macchiato"] .md-button:hover {
  /* Surface1 */
  background-color: hsl(231, 16%, 34%);
  /* Surface1 */
  border-color: hsl(231, 16%, 34%);
}
